
/* font */
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

/* default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body style */
body {
    position: relative;
}

/* header */
.header-content {
    position: relative;
}

.error-msg, .update-msg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ff0000;
    padding: 5px;
    border-radius: .25em;
    font-weight: 500;
    text-align: center;
    overflow: hidden;
}
.update-msg {
    background: #008000;
}

/* main content */
/* input section */
#reg-num-input {
    height: 2.7em;
    width: 20em;
    padding: .25em;
    border-radius: .25em 0 0 .25em;
}

.add-btn, .clear-btn {
    background: #008000;
    color: #fff;
    border: none;
    padding: .5em;
    font-weight: 600;
    border-radius: 0 .25em .25em 0;
}
.clear-btn {
    background: #ff0000;
    border-radius: .25em;
    text-transform: uppercase;
    margin-top: 1em;
    transition: all .10s ease-in;
}

/* dropdown */
#towns {
    height: 1.9em;
    width: 10em;
    margin-top: .5em;
    font-weight: 600;
    letter-spacing: .5px;
    border: none;
}

.content {
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 1);
    padding: 1em 0;
}

.number-plates {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.number-plates-two {
    grid-template-columns: 1fr;
}

li {
   list-style: none;
}

.plate {
    background: yellow;
    width: 100px;
    border: 2.5px solid #000;
    border-radius: .25em;
    margin: .5em;
    font-weight: 700;
}

/* guide */
.guide-container {
    background: linear-gradient( rgba(255,0,0,0), rgb(10, 1, 1));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.guide {
    border: #000 1px solid;
    border-radius: .25em;
    padding: 5px;
    text-align: center;
    background: #fff;
    width: 25em;
    margin-top: 8em;
}

.close-Btn {
    background: yellow;
    border: none;
    border-radius: 2em;
    padding: 5px;
    font-weight: 700;
}

